<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand text-light" routerLink="/" routerLinkActive="active"
      >Dating App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
      <ng-container *ngIf="currentUser$ | async">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ng-container>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!(currentUser$ | async)">
          <form
            #loginForm="ngForm"
            class="d-flex"
            (ngSubmit)="login()"
            autocomplete="off"
          >
            <input
              class="form-control me-2"
              name="username"
              [(ngModel)]="model.username"
              type="text"
              placeholder="Username"
            />
            <input
              name="password"
              [(ngModel)]="model.password"
              class="form-control me-2"
              type="password"
              placeholder="Password"
            />
            <button class="btn btn-success" type="submit">Login</button>
          </form>
        </li>
        <li class="nav-item dropdown" dropdown *ngIf="currentUser$ | async as User">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            dropdownToggle
          >
            Welcome {{User.username | titlecase}}
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li><a class="dropdown-item">Edit Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
